<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <style>


/* navbar */
.navbar .navbar-nav .nav-item .nav-link{
  color: white
}
.navbar .container-fluid .navbar-brand{color: white}
#navbarDarkDropdownMenuLink{color: white;}
#navbarDarkDropdownMenuLink:hover{color:#d0d9eb;}
.navbar .container-fluid .nav-item .nav-link:hover{color:#d0d9eb;}
.navbar .container-fluid .navbar-brand:hover{color:#d0d9eb;}
.navbar .container-fluid .navbar-toggler{color:black;background-color: white;}

.container-product   {display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 18%;
  margin-right: 18%;

}
.card{
  margin: 10px;
  height: 350px;
margin-top: 15px;
transition: all 0.3s;

}
.card:hover{transform: scale(1.10);

}
.container-product .row .col .card-body a{
  width: 150px;
  display: flex;
  justify-content: center;
  margin-left: 50px;
  background-color: rebeccapurple;
}


.container-product .row .col .card-body .card-title {
  display: flex;
  justify-content: center;
}

.container{margin-top: 80px;margin-bottom:80px}



    </style>

<script src="https://kit.fontawesome.com/f7c3f44c97.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #d0d9eb;
background-image: linear-gradient(180deg, #d0d9eb 0%, #afa7af 100%);font-weight: 600;">
     <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light" style="padding: 20px;background-color: black;">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://127.0.0.1:8000/ecommerceapp/index/">Gadgets Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto text-center mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="http://127.0.0.1:8000/ecommerceapp/index/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Smart Phones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Laptops</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cameras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TV</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Accessories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Chargers</a></li>
              <li><a class="dropdown-item" href="#">Cables</a></li>
              <li><a class="dropdown-item" href="#">Phone Cases</a></li>
            </ul>
          </li>

        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Register
            </a>
            <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/ecommerceapp/shopreg/">Shop Register</a></li>

              <li><a class="dropdown-item" href="http://127.0.0.1:8000/ecommerceapp/userregister/">User Register</a></li>

            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"  id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/ecommerceapp/shoplog/">Shop Login</a></li>
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/ecommerceapp/userlogin/">User Login</a></li>

            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <div class="input-group flex-nowrap">
            <div class="wishlist">
              <a href="http://127.0.0.1:8000/ecommerceapp/displaywishlist/"><i class="fa-solid fa-heart fa-1x" style="color:white;padding: 12px 10px;"></i></a>
              <a href="http://127.0.0.1:8000/ecommerceapp/cartdisplay/"><i class="fa-solid fa-cart-shopping fa-1x" style="color:white;padding-right: 15px;"></i></a>
            </div>

            <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="addon-wrapping">
            <span class="input-group-text" id="addon-wrapping"><a href=""><i class="fa-sharp fa-solid fa-magnifying-glass" style="color: black"></i></a></span>
          </div>
        </form>
      </div>
    </div>
  </nav>

    <div class="container">
<div class="row">
    {% for i,j,k,l,m,n in lis %}
  {% if userid == n %}
    <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card text-center" style="width: 18rem;height: 450px;border-radius: 20px;margin-left: 80px;margin-top: 30px">
  <img src="{% static l %}"  style="width: 260px;height: 230px;;margin-top: 30px;padding: 10px;padding-left: 40px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i}}</h5>
    <p class="card-text">{{k}}</p>
      <p class="card-text"><i class="fa-solid fa-indian-rupee-sign"></i> {{j}}</p>
      <a href="http://127.0.0.1:8000/ecommerceapp/wishtocart/{{m}}" class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i></a>
    <a href="http://127.0.0.1:8000/ecommerceapp/wishremove/{{m}}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
  </div>
</div>
    </div>
  {% endif %}
    {% endfor %}
    </div>

        </div>

<footer class="container-fluid " style="padding-top: 30px;padding-bottom:30px;color: white;background-color: black;">
  <div class="containerr">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">

        <ul style="list-style-type: none;text-align: center;">
          <h4 style="font-weight: bold;">About us</h4>
          <li>Company</li>
          <li>Terms & Conditions</li>
          <li>Privacy policies</li>
          <li>Investors</li>
          <li>Events</li>

        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">

        <ul style="list-style-type: none;text-align: center;">
          <h4 style="font-weight: bold;">Products</h4>
          <li>Smart Phones</li>
          <li>Laptops</li>
          <li>Cameras</li>
          <li>TV</li>
          <li>Other electronics</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <ul style="list-style-type: none;text-align: center;" >
          <h4 style="font-weight: bold;">Help</h4>
          <li>Ways to Buy</li>
          <li>Delivery/Returns</li>
          <li>Order Status</li>
          <li>Payments</li>
        </ul>
      </div>

 <div class="col-lg-3 col-md-6 col-sm-12">

        <ul style="list-style-type: none;text-align: center;" >
          <h4 style="font-weight: bold;">Connect Us</h4>
          <div class="footer-img">

          <li style="display: inline;"><a href=""><i style="color:white;" class="fa-brands fa-square-facebook fa-2x"></i></a></li>
          <li style="display: inline;padding-left: 10px;"><a href=""><i style="color: white;" class="fa-brands fa-twitter fa-2x"></i></a></li>
          <li style="display: inline;padding-left: 10px;"></li> <a href=""><i style="color: white;" class="fa-brands fa-instagram fa-2x"></i></a></li>
          </div>

        </ul>
      </div>

      </div>
    </div>
  </div>


</footer>


</body>
</html>